body {
    margin: 0 !important;
    overflow: hidden !important;
}

canvas#game-canvas {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

div#ui-container {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
